body{
    background: #F8F9FA;
}
/* style navbar */
nav{
    box-shadow: 1px 0px 10px #444;
}
header .span-email a{
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    padding: 0;

}
.breadcrumb {
    
    padding: .90rem 1rem;
    background-color: #fff;
    margin: 13px 0;
    direction: rtl;
}
header nav ul{
    margin-bottom: 0px !important;
}
.ul-style li{
    display: inline-block;
    background: #fff;
    padding: 3px 9px;
    border: 1px solid #b7b7b7;}
    ul .activ{
        background: #2D3E50;
        color: #fff;
    }
    ul{
        padding: 0;
    }
/* style navbar */